.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    min-height: 100vh;

    &__inputContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 15%;
    }

    &__input {
        outline: none;
        border: none;
        text-align: center;
        color: #fafafa;
        background-color: #494949;
        height: 1.5rem;
        border-radius: .25vw;
        width: clamp(8rem, 64vw, 16rem);
        height: 3rem;
        font-size: 1rem;
    }

    &__submit {
        cursor: pointer;
    }

    &__pokemon {
        width: clamp(16rem, 32vw, 64rem);
    }

    &__scoreContainer {
        text-align: center;
    }

    &__score.playing {
        color: green;
    }

    &__score.end {
        color: red;
    }

    &__answerContainer {
        opacity: 0;
        transition: opacity 300ms ease-in-out;
        border-radius: 1rem;
        border: 1px solid #ff4747;
        background-color: #ff6363;
        padding: 1rem;
    }

    &__answerContainer.show {
        opacity: 1;
        transition: opacity 300ms ease-in-out;
    }

}