.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;

    &__inputContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        width: 15%;
    }

    &__input {
        outline: none;
        border: none;
        text-align: center;
        color: #fafafa;
        background-color: #494949;
        height: 1.5rem;
        border-radius: .25vw;
    }

    &__scoreContainer {
        text-align: center;
    }

    &__score.playing {
        color: green;
    }

    &__score.end {
        color: red;
    }

}